/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GENERAL */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.bg-green {
    background-color: #1ABC9C;
}

.bg-light-black {
    background-color: #2C3E50;
}

.bg-dark-grey {
    background-color: #3A546D;
}

.bg-red {
    background-color: #BA4B63;
}

.bg-verde-acqua {
    background-color: #1EA4B6;
}

.bg-blue {
    background-color: blue;
}

.bg-azzurro {
    background-color: #1C83C1;
}

.bg-beige {
    background-color: #CCB2A3;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* HEADER */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


header a {
    font-size: 0.8rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SECTION CONTACT */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#message {
    padding-bottom: 6rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MEDIA */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 576px) {
    #avatar {
        width: 50%;
    }
}

@media screen and (min-width: 576px) {
    #avatar {
        width: 25%;
    }
}