/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GENERAL */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-green {
    background-color: #1ABC9C;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* HEADER */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
header {
    background-color: #2C3E50;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MAIN */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SECTION START */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

hr {
    border: 1px solid black;
    width: 100px;
}

.row-cols-3 img {
    width: 100%;
    /* height: 50%; */
}